<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dongGanDiDaiList</key>
	<array>
		<dict>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiName</key>
			<string>4G上网套餐(18元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009204</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>18元/月</string>
			<key>BusiDesc</key>
			<string>月使用费18元，套餐包含内容：本地主叫本地通话30分钟，短信100条，移动数据流量300MB（超出后按现行上网资费标准计费），本地被叫免费。超出套餐后资费：本地主叫本地0.10元/分钟，本地主叫国内长途0.20元/分钟</string>
		</dict>
		<dict>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiName</key>
			<string>4G上网套餐(28元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009205</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>28元/月</string>
			<key>BusiDesc</key>
			<string>月使用费28元，套餐包含内容：本地主叫本地通话50分钟，短信150条，移动数据流量350MB（超出后按现行上网资费标准计费），本地被叫免费。超出套餐后资费：本地主叫本地0.10元/分钟，本地主叫国内长途0.20元/分钟</string>
		</dict>
		<dict>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiName</key>
			<string>4G上网套餐(38元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009206</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>38元/月</string>
			<key>BusiDesc</key>
			<string>月使用费38元，套餐包含内容：本地主叫本地通话200分钟，短信200条，移动数据流量400MB（超出后按现行上网资费标准计费），本地被叫免费。超出套餐后资费：本地主叫本地0.10元/分钟，本地主叫国内长途0.20元/分钟</string>
		</dict>
	</array>
	<key>quanQiuTongList</key>
	<array>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G58上网套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009219</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>58元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用58元，通话时长（国内主叫国内，国际及港澳台长途除外）50分钟，包含国内数据流量500M国内流量(超出后按现行上网资费标准计费)及来电显示，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.25元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。 
短信办理方式：发送KT4GSW58到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G88上网套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009220</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>88元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用88元，通话时长（国内主叫国内，国际及港澳台长途除外）200分钟，包含国内数据流量700M(超出后按现行上网资费标准计费)及来电显示，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。
短信办理方式：发送KT4GSW88到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G158上网套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009222</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>158元/月</string>
			<key>BusiDesc</key>
			<string>主套餐月功能费用158元，通话时长（国内主叫国内，国际及港澳台长途除外）510分钟，包含国内数据流量2G(超出后按现行上网资费标准计费)及来电显示，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。
短信办理方式：发送KT4GSW158到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G188上网套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009223</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>188元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用188元，通话时长（国内主叫国内，国际及港澳台长途除外）600分钟，包含国内数据流量2.5G(超出后按现行上网资费标准计费)及来电显示，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。 
短信办理方式：发送KT4GSW188到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G288上网套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009224</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>288元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用288元，通话时长（国内主叫国内，国际及港澳台长途除外）1000分钟，包含国内数据流量3.5G(超出后按现行上网资费标准计费)及来电显示，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。
短信办理方式：发送KT4GSW288到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G388上网套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009225</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>388元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用388元，通话时长（国内主叫国内，国际及港澳台长途除外）1400分钟，包含国内数据流量6G(超出后按现行上网资费标准计费)及来电显示，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。
短信办理方式：发送KT4GSW388到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G588上网套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009226</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>588元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用588元，通话时长（国内主叫国内，国际及港澳台长途除外）2200分钟，包含国内数据流量10G(超出后按现行上网资费标准计费)及来电显示，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。
短信办理方式：发送KT4GSW588到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G888上网套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009227</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>888元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用888元，通话时长（国内主叫国内，国际及港澳台长途除外）3600分钟，包含国内数据流量20G(超出后按现行上网资费标准计费)及来电显示，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。
短信办理方式：发送KT4GSW888到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G58商旅套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009210</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>58元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用58元，通话时长（国内主叫国内，国际及港澳台长途除外）150分钟，包含国内数据流量150M（超出后按现行上网资费标准计费）及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.25元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。
短信办理方式：发送KT4GSL58到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G88商旅套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009211</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>88元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用88元，通话时长（国内主叫国内，国际及港澳台长途除外）350分钟，包含国内数据流量300M（超出后按现行上网资费标准计费）及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。
短信办理方式：发送KT4GSL88到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G128商旅套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009212</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>128元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用128元，通话时长（国内主叫国内，国际及港澳台长途除外）650分钟，包含国内数据流量600M（超出后按现行上网资费标准计费）及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。
短信办理方式：发送KT4GSL128到10086注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G158商旅套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009213</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>158元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用158元，通话时长（国内主叫国内，国际及港澳台长途除外）900分钟，包含国内数据流量600M（超出后按现行上网资费标准计费）及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。 
短信办理方式：发送KT4GSL158到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G188商旅套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009214</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>188元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用188元，通话时长（国内主叫国内，国际及港澳台长途除外）1200分钟，包含国内数据流量600M(超出后按现行上网资费标准计费)及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；赠送超值的上网流量，超出后流量单价只要0.0005元/KB，其他资费按标准收取。 
短信办理方式：发送KT4GSL188到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G288商旅套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009215</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>288元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用288元，通话时长（国内主叫国内，国际及港澳台长途除外）1900分钟，包含国内数据流量2G(超出后按现行上网资费标准计费)及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；赠送超值的上网流量，超出后流量单价只要0.0005元/KB，其他资费按标准收取。 
短信办理方式：发送KT4GSL288到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G388商旅套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009216</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>388元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用388元，通话时长（国内主叫国内，国际及港澳台长途除外）2600分钟，包含国内数据流量2G(超出后按现行上网资费标准计费)及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；赠送超值的上网流量，超出后流量单价只要0.0005元/KB，其他资费按标准收取。 
短信办理方式：发送KT4GSL388到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G588商旅套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009217</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>588元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用588元，通话时长（国内主叫国内，国际及港澳台长途除外）4000分钟，包含国内数据流量6G（超出后按现行上网资费标准计费）及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。
短信办理方式：发送KT4GSL588到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G888商旅套餐</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009218</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>888元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用888元，通话时长（国内主叫国内，国际及港澳台长途除外）6000分钟，包含国内数据流量6G（超出后按现行上网资费标准计费）及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。
短信办理方式：发送KT4GSL888到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
	</array>
	<key>shenZhouXingList</key>
	<array>
		<dict>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiName</key>
			<string>轻松卡(流量升舱版)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99003551</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>10元/月</string>
			<key>BusiDesc</key>
			<string>每月保底消费10元，套餐内包含省内移动数据流量100MB。
每天18：00—22：00分期间，若您在本地拨打市话每分钟2毛5；在其它时段本地拨打市话每分钟仅需1毛5；。在本地拨打除台港澳地区以外的国内长途，每分钟6毛，本地全天接听电话还可以享受免费的优惠。另外，使用本套餐的客户，还可全国漫游，国内漫游时，拨打除台港澳地区以外的国内长途每分钟6毛，接听电话每分钟4毛。
使用本套餐的客户，发送短信给移动、联通及电信客户，每条1毛。发送彩信给移动及联通客户，每条3毛。</string>
		</dict>
		<dict>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiName</key>
			<string>长话卡(昆明-流量升舱版)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009202</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>10元/月</string>
			<key>BusiDesc</key>
			<string>每月套餐费10元，套餐包含4元月租、5元彩铃功能及1元的短信包，月租内包含省内移动数据流量100MB，短信包内包含15条网内、网间短信。
当月话音通话费在40元以内时，您在本地拨打市话可享受每分钟9分钱的优惠，在本地拨打国内长途可享受每分钟1毛2分钱的的优惠；当月话音通话费在40元及以上时，在本地拨打市话按每分钟2毛5分钱收取，在本地拨打国内长途则按每分钟3毛收取，但我们建议您通过12593方式拨打，这样可以享受拨打国内长途每分钟2毛5的优惠。
使用本套餐的客户,在本地接听电话还可享受全天接听电话免费的优惠.本套餐还具备全国漫游功能，省内漫游时，拨打国内长途电话及接听所有电话，可享受每分钟3毛的资费优惠；省际漫游时，拨打国内电话，每分钟6毛，接听所有电话每分钟4毛。
若您发送短信给移动、联通及小灵通客户的短信条数超出短信包赠送条数以后，则按每条1毛的短信费收取；发送彩信给移动、联通客户，彩信费每条3毛。</string>
		</dict>
		<dict>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiName</key>
			<string>家园卡(普洱-流量升舱版)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99009203</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>10元/月</string>
			<key>BusiDesc</key>
			<string>每月保底消费10元，套餐内包含省内移动数据流量100MB，需使用彩铃功能5元/月。
在乡镇优惠范围内拨打市话0.09元/分钟,在乡镇优惠范围外拨打市话0.18元/分钟，无论您是否在乡镇优惠范围，在本地直拨国内长途电话，每分钟6毛，在本地全天接听电话免费.本套餐还具备全国漫游功能,国内漫游时，拨打除台港澳地区以外的国内电话每分钟6毛；接听电话每分钟4毛。
发送短信给移动、联通、电信客户每条1毛.</string>
		</dict>
		<dict>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiName</key>
			<string>神州行组合套餐(本地18元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99003551</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>18元/月</string>
			<key>BusiDesc</key>
			<string>套餐使用费用：18元/月，套餐内赠送内容：本地主叫本地130分钟、来电显示、 139邮箱免费版、飞信、手机支付、彩云通讯录
套餐外资费：本地主叫本地0.10元/分钟，本地主叫国内直拨或加17951拨打0.19元/分钟，国内漫游拨打0.60元/分钟、接听0.40元/分钟
短信办理方式：发送KTSBD18到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiName</key>
			<string>神州行组合套餐(本地28元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99003552</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>28元/月</string>
			<key>BusiDesc</key>
			<string>套餐使用费用：28元/月，套餐内赠送内容：本地主叫本地260分钟、来电显示、 139邮箱免费版、飞信、手机支付、彩云通讯录
套餐外资费：本地主叫本地0.10元/分钟，本地主叫国内直拨或加17951拨打0.19元/分钟，国内漫游拨打0.60元/分钟、接听0.40元/分钟
短信办理方式：发送KTSBD28到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiName</key>
			<string>神州行组合套餐(本地38元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99003553</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>38元/月</string>
			<key>BusiDesc</key>
			<string>套餐使用费用：38元/月，套餐内赠送内容：本地主叫本地380分钟、来电显示、 139邮箱免费版、飞信、手机支付、彩云通讯录
套餐外资费：本地主叫本地0.10元/分钟，本地主叫国内直拨或加17951拨打0.19元/分钟，国内漫游拨打0.60元/分钟、接听0.40元/分钟
短信办理方式：发送KTSBD38到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiName</key>
			<string>神州行组合套餐(长途18元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99003554</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>18元/月</string>
			<key>BusiDesc</key>
			<string>套餐使用费用：18元/月，套餐内赠送内容：本地主叫国内100分钟、来电显示、 139邮箱免费版、飞信、手机支付、彩云通讯录
套餐外资费：本地主叫本地0.15元/分钟，本地主叫国内直拨或加17951拨打0.15元/分钟，国内漫游拨打0.60元/分钟、接听0.40元/分钟
短信办理方式：发送KTSCT18到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiName</key>
			<string>神州行组合套餐(长途28元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99003555</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>28元/月</string>
			<key>BusiDesc</key>
			<string>套餐使用费用：28元/月，套餐内赠送内容：本地主叫国内180分钟、来电显示、 139邮箱免费版、飞信、手机支付、彩云通讯录
套餐外资费：本地主叫本地0.15元/分钟，本地主叫国内直拨或加17951拨打0.15元/分钟，国内漫游拨打0.60元/分钟、接听0.40元/分钟
短信办理方式：发送KTSCT28到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiName</key>
			<string>神州行组合套餐(长途38元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99003556</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>38元/月</string>
			<key>BusiDesc</key>
			<string>套餐使用费用：38元/月，套餐内赠送内容：本地主叫国内280分钟、来电显示、 139邮箱免费版、飞信、手机支付、彩云通讯录
套餐外资费：本地主叫本地0.15元/分钟，本地主叫国内直拨或加17951拨打0.15元/分钟，国内漫游拨打0.60元/分钟、接听0.40元/分钟
短信办理方式：发送KTSCT38到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiName</key>
			<string>神州行组合套餐(长途48元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99003557</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>48元/月</string>
			<key>BusiDesc</key>
			<string>套餐使用费用：48元/月，套餐内赠送内容：本地主叫国内380分钟、来电显示、 139邮箱免费版、飞信、手机支付、彩云通讯录
套餐外资费：本地主叫本地0.15元/分钟，本地主叫国内直拨或加17951拨打0.15元/分钟，国内漫游拨打0.60元/分钟、接听0.40元/分钟
短信办理方式：发送KTSCT48到10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
	</array>
	<key>Version</key>
	<string>0.92</string>
	<key>DataProductList</key>
	<array>
		<dict>
			<key>BusiName</key>
			<string>语音信箱</string>
			<key>BusiLogoName</key>
			<string>icon_yyxx</string>
			<key>BusiBizCode</key>
			<string>10658112</string>
			<key>BusiSpCode</key>
			<string>919015</string>
			<key>BusiServiceId</key>
			<string>99094326</string>
			<key>BusiBizTypeCode</key>
			<string>45</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>3元/月</string>
			<key>BusiDesc</key>
			<string>语音信箱（原来电提醒）是为用户提供漏话提醒服务，在对方来电时，若您处于忙、关机或无法接通的状态时，可让来电方进行语音留言，在您方便时可随时随地收听留言的业务。通过 http://yyxx.10086.cn 下载“语音信箱”客户端，更能获取自设呼转、个性欢迎语等特色服务。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>和通迅录会员</string>
			<key>BusiLogoName</key>
			<string>icon_htx</string>
			<key>BusiBizCode</key>
			<string>100000</string>
			<key>BusiSpCode</key>
			<string>698022</string>
			<key>BusiServiceId</key>
			<string>98001001</string>
			<key>BusiBizTypeCode</key>
			<string>10</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>3元/月</string>
			<key>BusiDesc</key>
			<string>会员可使用智能同步中的即时同步功能，并享有每月100条“秒发”短信的特权。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>和阅读悦读会会员</string>
			<key>BusiLogoName</key>
			<string>icon_hyd</string>
			<key>BusiBizCode</key>
			<string>100203</string>
			<key>BusiSpCode</key>
			<string>698001</string>
			<key>BusiServiceId</key>
			<string>99192111</string>
			<key>BusiBizTypeCode</key>
			<string>60</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>3元/月</string>
			<key>BusiDesc</key>
			<string>开通后可通过“和阅读”免费阅读本书包内所有图书（共计1326本图书可供阅读），并享多项会员特权。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>和游戏游戏玩家</string>
			<key>BusiLogoName</key>
			<string>icon_hyx</string>
			<key>BusiBizCode</key>
			<string>500230544000</string>
			<key>BusiSpCode</key>
			<string>701001</string>
			<key>BusiServiceId</key>
			<string>99002781</string>
			<key>BusiBizTypeCode</key>
			<string>28</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>5元/月</string>
			<key>BusiDesc</key>
			<string>和游戏玩家，每月仅需5元会员功能费，享受至尊游戏体验，包您玩个够：免费特权!免费游戏享不停；折扣特权!全场单机八折惠；网游特权!超值道具免费领；活动特权!会员专属好活动</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>和视频V+精选包</string>
			<key>BusiLogoName</key>
			<string>icon_htv</string>
			<key>BusiBizCode</key>
			<string>30830003</string>
			<key>BusiSpCode</key>
			<string>699019</string>
			<key>BusiServiceId</key>
			<string>99781381</string>
			<key>BusiBizTypeCode</key>
			<string>14</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>5元/月</string>
			<key>BusiDesc</key>
			<string>结合当季主题内容，第一时间带给您各类精选节目内容，同时配合丰富的互动内容，让您畅享优惠、精彩的视频节目。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>和动漫漫赏包</string>
			<key>BusiLogoName</key>
			<string>icon_hdm</string>
			<key>BusiBizCode</key>
			<string>2300000005</string>
			<key>BusiSpCode</key>
			<string>698025</string>
			<key>BusiServiceId</key>
			<string>91118231</string>
			<key>BusiBizTypeCode</key>
			<string>36</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>5元/月</string>
			<key>BusiDesc</key>
			<string>可通过WAP门户以及“和动漫”客户端，每月不限集数的免费在线观看或下载动漫漫赏包专区的动漫作品（动画、漫画或绘本）</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>和娱乐优惠包</string>
			<key>BusiLogoName</key>
			<string>icon_hylyh</string>
			<key>BusiBizCode</key>
			<string>1406684301</string>
			<key>BusiSpCode</key>
			<string>135502</string>
			<key>BusiServiceId</key>
			<string>95072011</string>
			<key>BusiBizTypeCode</key>
			<string>57</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>6元/月</string>
			<key>BusiDesc</key>
			<string>可在“和娱乐体验包”的全部优惠的基础之上，更可享受阅读频道、音乐频道、动漫频道、视频频道、游戏频道指定付费单品的9折优惠，以及MM VIP会员特权，并免费成为无线音乐咪咕普通会员。每月登录MM还可领取600个MM币。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>和娱乐体验包</string>
			<key>BusiLogoName</key>
			<string>icon_hylty</string>
			<key>BusiBizCode</key>
			<string>1406684101</string>
			<key>BusiSpCode</key>
			<string>135502</string>
			<key>BusiServiceId</key>
			<string>95072010</string>
			<key>BusiBizTypeCode</key>
			<string>57</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>0元/月</string>
			<key>BusiDesc</key>
			<string>享受1万款游戏免费下载，2万集动漫免费看，300万首歌免费试听，400万章节免费阅读，5万条视频50路直播免费看，6大分类手机精品应用免费下载。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>139邮箱5元套餐</string>
			<key>BusiLogoName</key>
			<string>icon_139mail</string>
			<key>BusiBizCode</key>
			<string>+MAILBZ</string>
			<key>BusiSpCode</key>
			<string>925555</string>
			<key>BusiServiceId</key>
			<string>99008753</string>
			<key>BusiBizTypeCode</key>
			<string>16</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>5元/月</string>
			<key>BusiDesc</key>
			<string>《139邮箱标准版》优化了邮箱内的功能布局，引导更加清晰，减少了您不必要的操作，新增加欢迎页回归、换肤、多标签、一键搬家等功能。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>139邮箱VIP版</string>
			<key>BusiLogoName</key>
			<string>icon_139vip</string>
			<key>BusiBizCode</key>
			<string>+MAILVIP</string>
			<key>BusiSpCode</key>
			<string>925555</string>
			<key>BusiServiceId</key>
			<string>99009009</string>
			<key>BusiBizTypeCode</key>
			<string>16</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>20元/月</string>
			<key>BusiDesc</key>
			<string>139邮箱VIP版》不仅拥有一般139邮箱的功能，而且容量更大，功能更强，操作更简单，优惠更多。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>手机导航</string>
			<key>BusiLogoName</key>
			<string>icon_nav</string>
			<key>BusiBizCode</key>
			<string>20100100</string>
			<key>BusiSpCode</key>
			<string>300008</string>
			<key>BusiServiceId</key>
			<string>99341317</string>
			<key>BusiBizTypeCode</key>
			<string>65</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>5元/月</string>
			<key>BusiDesc</key>
			<string>您可以随时定位自己的位置，无论在哪里都不会迷路，还可以直接询问10086，由专门的客户人员帮助您查询目的地。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>手机视频V+喜乐包</string>
			<key>BusiLogoName</key>
			<string>icon_tv</string>
			<key>BusiBizCode</key>
			<string>30830001</string>
			<key>BusiSpCode</key>
			<string>699019</string>
			<key>BusiServiceId</key>
			<string>99781380</string>
			<key>BusiBizTypeCode</key>
			<string>14</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>3元/月</string>
			<key>BusiDesc</key>
			<string>V+喜乐包内容数量限定在300条以内，内容涵盖直播、电影、剧集、综艺、资讯。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>手机动漫三元包</string>
			<key>BusiLogoName</key>
			<string>icon_dm3</string>
			<key>BusiBizCode</key>
			<string>1300000006</string>
			<key>BusiSpCode</key>
			<string>698025</string>
			<key>BusiServiceId</key>
			<string>99055043</string>
			<key>BusiBizTypeCode</key>
			<string>36</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>3元/月</string>
			<key>BusiDesc</key>
			<string>支持WAP门户上的漫画、动画阅读功能，包含最新最全的连载漫画及完结作品，提供全新的在线阅读体验,可浏览50集动画、漫画。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>手机动漫每日一笑</string>
			<key>BusiLogoName</key>
			<string>icon_dm</string>
			<key>BusiBizCode</key>
			<string>1100000004</string>
			<key>BusiSpCode</key>
			<string>698029</string>
			<key>BusiServiceId</key>
			<string>99965335</string>
			<key>BusiBizTypeCode</key>
			<string>36</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>3元/月</string>
			<key>BusiDesc</key>
			<string>手机动漫让您随时随地可以通过手机观看您喜欢的漫画、动漫。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>手机动漫（每日一笑）</string>
			<key>BusiLogoName</key>
			<string>icon_sjdm</string>
			<key>BusiBizCode</key>
			<string>1100000004</string>
			<key>BusiSpCode</key>
			<string>698025</string>
			<key>BusiServiceId</key>
			<string>99055004</string>
			<key>BusiBizTypeCode</key>
			<string>36</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>3元/月</string>
			<key>BusiDesc</key>
			<string>《手机动漫（每日一笑）》为您提供让人乐翻天的漫画，含蓄幽默的笑话、段子、网络趣味流行语、流行网文，经典新颖的冷笑话，创意雷人的搞笑图片等信息。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>飞信</string>
			<key>BusiLogoName</key>
			<string>icon_feixin</string>
			<key>BusiBizCode</key>
			<string>IIC</string>
			<key>BusiSpCode</key>
			<string>901508</string>
			<key>BusiServiceId</key>
			<string>98002301</string>
			<key>BusiBizTypeCode</key>
			<string>23</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>0元/月</string>
			<key>BusiDesc</key>
			<string>《飞信》让您可以实现在线短消息发送、语音聊天、彩铃文件共享等多种通信功能。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>来电呼</string>
			<key>BusiLogoName</key>
			<string>icon_tel</string>
			<key>BusiBizCode</key>
			<string>-LDH001</string>
			<key>BusiSpCode</key>
			<string>925231</string>
			<key>BusiServiceId</key>
			<string>99577299</string>
			<key>BusiBizTypeCode</key>
			<string>04</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>3元/月</string>
			<key>BusiDesc</key>
			<string>当您打电话遇到对方关机或在通话中时，《来电呼》将以短信的方式告知对方漏接的电话，并提醒对方及时回复您的电话。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>新闻早晚报</string>
			<key>BusiLogoName</key>
			<string>icon_news</string>
			<key>BusiBizCode</key>
			<string>110301</string>
			<key>BusiSpCode</key>
			<string>801234</string>
			<key>BusiServiceId</key>
			<string>99038858</string>
			<key>BusiBizTypeCode</key>
			<string>05</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>3元/月</string>
			<key>BusiDesc</key>
			<string>新闻早晚报》为您提供国际、国内时政、财经、体育、娱乐、生活等新闻信息。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>快乐8手机报</string>
			<key>BusiLogoName</key>
			<string>icon_happy8</string>
			<key>BusiBizCode</key>
			<string>621001</string>
			<key>BusiSpCode</key>
			<string>825268</string>
			<key>BusiServiceId</key>
			<string>99034024</string>
			<key>BusiBizTypeCode</key>
			<string>05</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>5元/月</string>
			<key>BusiDesc</key>
			<string>云南移动手机资讯发布平台，让您随时随地掌握第一手信息。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>手机报-光明日报</string>
			<key>BusiLogoName</key>
			<string>icon_sjb</string>
			<key>BusiBizCode</key>
			<string>113146</string>
			<key>BusiSpCode</key>
			<string>801234</string>
			<key>BusiServiceId</key>
			<string>99256311</string>
			<key>BusiBizTypeCode</key>
			<string>05</string>
			<key>BusiElementTypeCode</key>
			<string>Z</string>
			<key>BusiFee</key>
			<string>3元/月</string>
			<key>BusiDesc</key>
			<string>《手机报-光明日报》为您提供时政、经济、社会、文化、教育等时事新闻。</string>
		</dict>
	</array>
	<key>BaseProductList</key>
	<array>
		<dict>
			<key>BusiName</key>
			<string>彩铃</string>
			<key>BusiLogoName</key>
			<string>ico_cl</string>
			<key>BusiServiceId</key>
			<string>20</string>
			<key>BusiElementTypeCode</key>
			<string>S</string>
			<key>BusiFee</key>
			<string>5元/月</string>
			<key>BusiDesc</key>
			<string>彩铃业务是为中国移动全网客户提供的一项由被叫客户定制，为主叫客户播放一段悦耳的音乐或一句问候语来代替普通回铃音的业务</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>来电显示</string>
			<key>BusiLogoName</key>
			<string>ico_ldxs</string>
			<key>BusiServiceId</key>
			<string>23</string>
			<key>BusiElementTypeCode</key>
			<string>S</string>
			<key>BusiFee</key>
			<string>5元/月</string>
			<key>BusiDesc</key>
			<string>业务功能费5元/月，按天分摊，月末规整为5元</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>GPRS流量提醒</string>
			<key>BusiLogoName</key>
			<string>ico_gprs</string>
			<key>BusiServiceId</key>
			<string>185</string>
			<key>BusiElementTypeCode</key>
			<string>S</string>
			<key>BusiFee</key>
			<string>0元/月</string>
			<key>BusiDesc</key>
			<string>当您包月套餐使用流量超出时，或国内手机上网费达到500元时，或包月剩余流量约5M时，或截止提醒时点（每月18-21日早9：00起），
仍未使用包月套餐内流量时，我们将会发送短信提醒，方便您及时了解您的流量使用情况。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>话费余额提醒</string>
			<key>BusiLogoName</key>
			<string>ico_hfyrtx</string>
			<key>BusiServiceId</key>
			<string>64</string>
			<key>BusiElementTypeCode</key>
			<string>S</string>
			<key>BusiFee</key>
			<string>0元/月</string>
			<key>BusiDesc</key>
			<string>当您开通了话费余额提醒后，我们将每隔10天提醒您当前的话费余额。</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>呼叫等待</string>
			<key>BusiLogoName</key>
			<string>ico_lddd</string>
			<key>BusiServiceId</key>
			<string>1</string>
			<key>BusiElementTypeCode</key>
			<string>S</string>
			<key>BusiFee</key>
			<string>0元/月</string>
			<key>BusiDesc</key>
			<string>免收业务功能费，开通后如产生通话，将收取通话费用</string>
		</dict>
		<dict>
			<key>BusiName</key>
			<string>呼叫转移</string>
			<key>BusiLogoName</key>
			<string>ico_hjzy</string>
			<key>BusiServiceId</key>
			<string>8</string>
			<key>BusiElementTypeCode</key>
			<string>S</string>
			<key>BusiFee</key>
			<string>0元/月</string>
			<key>BusiDesc</key>
			<string>非国际及港澳台漫游时,呼转至归属地,基本费0.1元/分钟,呼转至非归属地,长途费0.6元/分钟。国际及港澳台漫游时,无条件呼叫转移,呼叫转移到归属地：基本费0.1元/分钟。呼叫转移到非归属地,长途费0.6元/分钟。有条件呼叫转移,漫游拜访地的漫游被叫资费标准和漫游拜访地至前转地的漫游主叫资费标准</string>
		</dict>
	</array>
	<key>fourGProductList</key>
	<array>
		<dict>
			<key>BusiServiceId2</key>
			<string>99004081</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G飞享套餐(58元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99091256</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>58元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用58元，通话时长（国内主叫国内，国际及港澳台长途除外）50分钟，包含国内数据流量500M（超出后按现行上网资费标准计费）及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。（允许增加不超过4个终端共享流量，每增加一个，每月收取10元功能费）
短信办理方式：发送“KT4GFXTC58”至10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiServiceId2</key>
			<string>99004097</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G飞享套餐(88元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99091157</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>88元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用88元，通话时长（国内主叫国内，国际及港澳台长途除外）200分钟，包含国内数据流量700M（超出后按现行上网资费标准计费）及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。（允许增加不超过4个终端共享流量，每增加一个，每月收取10元功能费）
短信办理方式：发送“KT4GFXTC88”至10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiServiceId2</key>
			<string>99004082</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G飞享套餐(138元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99091158</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>138元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用138元，通话时长（国内主叫国内，国际及港澳台长途除外）500分钟，包含国内数据流量1G（超出后按现行上网资费标准计费）及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。（允许增加不超过4个终端共享流量，每增加一个，每月收取10元功能费）
短信办理方式：发送“KT4GFXTC138”至10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiServiceId2</key>
			<string>99004098</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G飞享套餐(158元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99091142</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>158元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用158元，通话时长（国内主叫国内，国际及港澳台长途除外）500分钟，包含国内数据流量2G（超出后按现行上网资费标准计费）及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。（允许增加不超过4个终端共享流量，每增加一个，每月收取10元功能费）
短信办理方式：发送“KT4GFXTC158”至10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiServiceId2</key>
			<string>99004098</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G飞享套餐(238元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99091143</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>238元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用238元，通话时长（国内主叫国内，国际及港澳台长途除外）1000分钟，包含国内数据流量2G（超出后按现行上网资费标准计费）及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。（允许增加不超过4个终端共享流量，每增加一个，每月收取10元功能费）
短信办理方式：发送“KT4GFXTC238”至10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiServiceId2</key>
			<string>99004083</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G飞享套餐(268元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99091144</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>268元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用268元，通话时长（国内主叫国内，国际及港澳台长途除外）1000分钟，包含国内数据流量3G（超出后按现行上网资费标准计费）及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。（允许增加不超过4个终端共享流量，每增加一个，每月收取10元功能费）
短信办理方式：发送“KT4GFXTC268”至10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiServiceId2</key>
			<string>99004083</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G飞享套餐(338元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99091159</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>338元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用338元，通话时长（国内主叫国内，国际及港澳台长途除外)2000分钟，包含国内数据流量3G（超出后按现行上网资费标准计费）及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。（允许增加不超过4个终端共享流量，每增加一个，每月收取10元功能费）
短信办理方式：发送“KT4GFXTC338”至10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
		<dict>
			<key>BusiServiceId2</key>
			<string>99004110</string>
			<key>BusiTakeEffectType</key>
			<string>下账期生效</string>
			<key>BusiBrand</key>
			<string>全品牌</string>
			<key>BusiName</key>
			<string>4G飞享套餐(588元)</string>
			<key>BusiLogoName</key>
			<string></string>
			<key>BusiBizCode</key>
			<string></string>
			<key>BusiSpCode</key>
			<string></string>
			<key>BusiServiceId</key>
			<string>99091160</string>
			<key>BusiBizTypeCode</key>
			<string></string>
			<key>BusiElementTypeCode</key>
			<string>P</string>
			<key>BusiFee</key>
			<string>588元/月</string>
			<key>BusiDesc</key>
			<string>套餐月功能费用588元，通话时长（国内主叫国内，国际及港澳台长途除外）4000分钟，包含国内数据流量6G（超出后按现行上网资费标准计费）及来电显示功能，超出套餐包含分钟数后的在国内拨打国内语音通话（国际及港澳台长途除外）0.19元/分，享受全国范围内接听免费（国际及港澳台长途除外）；其他资费按标准收取。（允许增加不超过4个终端共享流量，每增加一个，每月收取10元功能费）
短信办理方式：发送“KT4GFXTC588”至10086
注：国内指中国内地、不含港、澳、台地区</string>
		</dict>
	</array>
</dict>
</plist>
