<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gprsInfo</key>
	<dict>
		<key>leisureGprs</key>
		<array/>
		<key>otherGprs</key>
		<array>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091161</string>
				<key>gprsPackageName</key>
				<string>4G40元上网流量包（400M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091113</string>
				<key>gprsPackageName</key>
				<string>4G50元上网流量包（600M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091114</string>
				<key>gprsPackageName</key>
				<string>4G70元上网流量包（1G）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091115</string>
				<key>gprsPackageName</key>
				<string>4G100元上网流量包（2G）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091116</string>
				<key>gprsPackageName</key>
				<string>4G130元上网流量包（3G）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091117</string>
				<key>gprsPackageName</key>
				<string>4G180元上网流量包（5G）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003138</string>
				<key>gprsPackageName</key>
				<string>新GPRS 30元套餐(280M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003141</string>
				<key>gprsPackageName</key>
				<string>新GPRS 20元套餐(150M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003142</string>
				<key>gprsPackageName</key>
				<string>新GPRS 100元套餐(2G)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003143</string>
				<key>gprsPackageName</key>
				<string>新GPRS 200元套餐(5G)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003145</string>
				<key>gprsPackageName</key>
				<string>新GPRS 10元套餐(70M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003147</string>
				<key>gprsPackageName</key>
				<string>新GPRS50元套餐(500M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003149</string>
				<key>gprsPackageName</key>
				<string>新GPRS 15元套餐(200M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003901</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003902</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包二（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003903</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包二（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003904</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包四（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003905</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包五（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003906</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包六（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003907</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包七（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003908</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包八（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003909</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包九（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003910</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包十（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003911</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包十一（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003912</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包十二（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003913</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包十三（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003914</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包十四（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003915</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包十五（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003916</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包十六（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003917</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包十七（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003918</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包十八（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003919</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包十九（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003920</string>
				<key>gprsPackageName</key>
				<string>5元流量加油包二十（30M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003921</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003922</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包二（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003923</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包三（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003924</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包四（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003925</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包五（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003926</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包六（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003927</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包七（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003928</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包八（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003929</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包九（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003930</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包十（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003931</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包十一（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003932</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包十二（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003933</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包十三（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003934</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包十四（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003935</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包十五（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003936</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包十六（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003937</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包十七（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003938</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包十八（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003939</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包十九（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003940</string>
				<key>gprsPackageName</key>
				<string>10元流量加油包二十（70M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003941</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003942</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包二（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003943</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包三（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003944</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包四（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003945</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包五（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003946</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包六（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003947</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包七（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003948</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包八（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003949</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包九（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003950</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包十（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003951</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包十一（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003952</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包十二（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003953</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包十三（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003954</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包十四（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003955</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包十五（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003956</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包十六（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003957</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包十七（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003958</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包十八（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003959</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包十九（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003960</string>
				<key>gprsPackageName</key>
				<string>20元流量加油包二十（150M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003961</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003962</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包二（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003963</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包三（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003964</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包四（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003965</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包五（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003966</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包六（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003967</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包七（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003968</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包八（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003969</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包九（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003970</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包十（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003971</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包十一（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003972</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包十二（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003973</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包十三（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003974</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包十四（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003975</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包十五（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003976</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包十六（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003977</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包十七（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003978</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包十八（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003979</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包十九（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003980</string>
				<key>gprsPackageName</key>
				<string>30元流量加油包二十（280M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99160916</string>
				<key>gprsPackageName</key>
				<string>【积分商城专用】10元70M流量加油包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99160917</string>
				<key>gprsPackageName</key>
				<string>【积分商城专用】20元150M流量加油包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003137</string>
				<key>gprsPackageName</key>
				<string>随意玩5元上网套餐</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003139</string>
				<key>gprsPackageName</key>
				<string>GPRS 2元加油包(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003171</string>
				<key>gprsPackageName</key>
				<string>2元加油包二(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003172</string>
				<key>gprsPackageName</key>
				<string>2元加油包三(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003173</string>
				<key>gprsPackageName</key>
				<string>2元加油包四(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003174</string>
				<key>gprsPackageName</key>
				<string>2元加油包五(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003175</string>
				<key>gprsPackageName</key>
				<string>2元加油包六(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003176</string>
				<key>gprsPackageName</key>
				<string>2元加油包七(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003177</string>
				<key>gprsPackageName</key>
				<string>2元加油包八(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003178</string>
				<key>gprsPackageName</key>
				<string>2元加油包九(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003179</string>
				<key>gprsPackageName</key>
				<string>2元加油包十(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003180</string>
				<key>gprsPackageName</key>
				<string>2元加油包十一(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003181</string>
				<key>gprsPackageName</key>
				<string>2元加油包十二(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003182</string>
				<key>gprsPackageName</key>
				<string>2元加油包十三(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003183</string>
				<key>gprsPackageName</key>
				<string>2元加油包十四(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003184</string>
				<key>gprsPackageName</key>
				<string>2元加油包十五(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003185</string>
				<key>gprsPackageName</key>
				<string>2元加油包十六(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003186</string>
				<key>gprsPackageName</key>
				<string>2元加油包十七(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003187</string>
				<key>gprsPackageName</key>
				<string>2元加油包十八(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003188</string>
				<key>gprsPackageName</key>
				<string>2元加油包十九(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003189</string>
				<key>gprsPackageName</key>
				<string>2元加油包二十(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003190</string>
				<key>gprsPackageName</key>
				<string>2元加油包二十一(15M)</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99009024</string>
				<key>gprsPackageName</key>
				<string>5元包500M月末加油包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99009025</string>
				<key>gprsPackageName</key>
				<string>10元包1G月末加油包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091136</string>
				<key>gprsPackageName</key>
				<string>4G加油包10元100M（一）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091137</string>
				<key>gprsPackageName</key>
				<string>4G加油包10元100M（二）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091138</string>
				<key>gprsPackageName</key>
				<string>4G加油包10元100M（三）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091139</string>
				<key>gprsPackageName</key>
				<string>4G加油包50元600M（一）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091140</string>
				<key>gprsPackageName</key>
				<string>4G加油包50元600M（二）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091141</string>
				<key>gprsPackageName</key>
				<string>4G加油包50元600M（三）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003984</string>
				<key>gprsPackageName</key>
				<string>30元季度包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003985</string>
				<key>gprsPackageName</key>
				<string>60元季度包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003986</string>
				<key>gprsPackageName</key>
				<string>90元季度包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004153</string>
				<key>gprsPackageName</key>
				<string>120元季度包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004154</string>
				<key>gprsPackageName</key>
				<string>150元季度包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003987</string>
				<key>gprsPackageName</key>
				<string>60元半年包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003988</string>
				<key>gprsPackageName</key>
				<string>120元半年包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003989</string>
				<key>gprsPackageName</key>
				<string>180元半年包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004155</string>
				<key>gprsPackageName</key>
				<string>240元半年包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004156</string>
				<key>gprsPackageName</key>
				<string>300元半年包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004157</string>
				<key>gprsPackageName</key>
				<string>120元一年包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004158</string>
				<key>gprsPackageName</key>
				<string>240元一年包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004159</string>
				<key>gprsPackageName</key>
				<string>360元一年包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004160</string>
				<key>gprsPackageName</key>
				<string>480元一年包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004161</string>
				<key>gprsPackageName</key>
				<string>600元一年包</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091173</string>
				<key>gprsPackageName</key>
				<string>4G30元数据套餐（500M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091165</string>
				<key>gprsPackageName</key>
				<string>4G40元数据套餐（700M）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091151</string>
				<key>gprsPackageName</key>
				<string>4G50元数据套餐（1G）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091152</string>
				<key>gprsPackageName</key>
				<string>4G70元数据套餐（2G）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091153</string>
				<key>gprsPackageName</key>
				<string>4G100元数据套餐（3G）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091154</string>
				<key>gprsPackageName</key>
				<string>4G130元数据套餐（4G）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091155</string>
				<key>gprsPackageName</key>
				<string>4G180元数据套餐（6G）</string>
			</dict>
			<dict>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091166</string>
				<key>gprsPackageName</key>
				<string>4G280元数据套餐（11G）</string>
			</dict>
		</array>
		<key>refuelGprs</key>
		<array/>
		<key>upshiftGprs</key>
		<array/>
		<key>monthlyGprs</key>
		<array>
			<dict>
				<key>GPRS</key>
				<string>70M</string>
				<key>money</key>
				<string>10元/月</string>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99003981</string>
				<key>gprsPackageName</key>
				<string>10元(70M)智能套餐</string>
			</dict>
			<dict>
				<key>GPRS</key>
				<string>150M</string>
				<key>money</key>
				<string>20元/月</string>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004080</string>
				<key>gprsPackageName</key>
				<string>20元(150M)智能套餐</string>
			</dict>
			<dict>
				<key>GPRS</key>
				<string>500M</string>
				<key>money</key>
				<string>30元/月</string>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004081</string>
				<key>gprsPackageName</key>
				<string>30元(500M)智能套餐</string>
			</dict>
			<dict>
				<key>GPRS</key>
				<string>700M</string>
				<key>money</key>
				<string>40元/月</string>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004097</string>
				<key>gprsPackageName</key>
				<string>40元(700M)智能套餐</string>
			</dict>
			<dict>
				<key>GPRS</key>
				<string>1G</string>
				<key>money</key>
				<string>50元/月</string>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004082</string>
				<key>gprsPackageName</key>
				<string>50元(1G)智能套餐</string>
			</dict>
			<dict>
				<key>GPRS</key>
				<string>2G</string>
				<key>money</key>
				<string>70元/月</string>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004098</string>
				<key>gprsPackageName</key>
				<string>70元(2G)智能套餐</string>
			</dict>
			<dict>
				<key>GPRS</key>
				<string>3G</string>
				<key>money</key>
				<string>100元/月</string>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004083</string>
				<key>gprsPackageName</key>
				<string>100元(3G)智能套餐</string>
			</dict>
			<dict>
				<key>GPRS</key>
				<string>4G</string>
				<key>money</key>
				<string>130元/月</string>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004099</string>
				<key>gprsPackageName</key>
				<string>130元(4G)智能套餐</string>
			</dict>
			<dict>
				<key>GPRS</key>
				<string>6G</string>
				<key>money</key>
				<string>180元/月</string>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99004110</string>
				<key>gprsPackageName</key>
				<string>180元(6G)智能套餐</string>
			</dict>
			<dict>
				<key>GPRS</key>
				<string>11G</string>
				<key>money</key>
				<string>280元/月</string>
				<key>ELEMENT_TYPE_CODE</key>
				<string>D</string>
				<key>SVC_DESC</key>
				<string>99091162</string>
				<key>gprsPackageName</key>
				<string>280元(11G)智能套餐</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
