<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>0.97</string>
	<key>MenuList</key>
	<array>
		<dict>
			<key>isHuiDuVersion</key>
			<string>1</string>
			<key>MenuID</key>
			<integer>11</integer>
			<key>MenuName</key>
			<string>宽带办理</string>
			<key>MenuImage</key>
			<string>yw_kdbl.png</string>
			<key>IsMenuChange</key>
			<false/>
			<key>MenuChangeStatus</key>
			<true/>
		</dict>
		<dict>
			<key>isHuiDuVersion</key>
			<string>1</string>
			<key>MenuID</key>
			<integer>0</integer>
			<key>MenuName</key>
			<string>实时话费</string>
			<key>MenuImage</key>
			<string>service_button_50</string>
			<key>IsMenuChange</key>
			<false/>
			<key>MenuChangeStatus</key>
			<true/>
		</dict>
		<dict>
			<key>isHuiDuVersion</key>
			<string>1</string>
			<key>MenuID</key>
			<integer>1</integer>
			<key>MenuName</key>
			<string>流量查询</string>
			<key>MenuImage</key>
			<string>service_button_52</string>
			<key>IsMenuChange</key>
			<false/>
			<key>MenuChangeStatus</key>
			<true/>
		</dict>
		<dict>
			<key>isHuiDuVersion</key>
			<string>1</string>
			<key>MenuID</key>
			<integer>2</integer>
			<key>MenuName</key>
			<string>流量订购</string>
			<key>MenuImage</key>
			<string>service_button_62</string>
			<key>IsMenuChange</key>
			<false/>
			<key>MenuChangeStatus</key>
			<true/>
		</dict>
		<dict>
			<key>isHuiDuVersion</key>
			<string>1</string>
			<key>MenuID</key>
			<integer>3</integer>
			<key>MenuName</key>
			<string>我的账单</string>
			<key>MenuImage</key>
			<string>service_button_53</string>
			<key>IsMenuChange</key>
			<false/>
			<key>MenuChangeStatus</key>
			<true/>
		</dict>
		<dict>
			<key>isHuiDuVersion</key>
			<string>1</string>
			<key>MenuID</key>
			<integer>4</integer>
			<key>MenuName</key>
			<string>套餐余量</string>
			<key>MenuImage</key>
			<string>service_button_51</string>
			<key>IsMenuChange</key>
			<false/>
			<key>MenuChangeStatus</key>
			<true/>
		</dict>
		<dict>
			<key>isHuiDuVersion</key>
			<string>1</string>
			<key>MenuID</key>
			<integer>5</integer>
			<key>MenuName</key>
			<string>充值</string>
			<key>MenuImage</key>
			<string>service_button_70</string>
			<key>IsMenuChange</key>
			<false/>
			<key>MenuChangeStatus</key>
			<true/>
		</dict>
		<dict>
			<key>isHuiDuVersion</key>
			<string>1</string>
			<key>MenuID</key>
			<integer>6</integer>
			<key>MenuName</key>
			<string>业务办理</string>
			<key>MenuImage</key>
			<string>service_button_60</string>
			<key>IsMenuChange</key>
			<false/>
			<key>MenuChangeStatus</key>
			<true/>
		</dict>
		<dict>
			<key>isHuiDuVersion</key>
			<string>1</string>
			<key>MenuID</key>
			<integer>7</integer>
			<key>MenuName</key>
			<string>客服</string>
			<key>MenuImage</key>
			<string>ico_cser</string>
			<key>IsMenuChange</key>
			<false/>
			<key>MenuChangeStatus</key>
			<true/>
		</dict>
		<dict>
			<key>isHuiDuVersion</key>
			<string>1</string>
			<key>MenuID</key>
			<integer>8</integer>
			<key>MenuName</key>
			<string>套餐变更</string>
			<key>MenuImage</key>
			<string>service_button_61</string>
			<key>IsMenuChange</key>
			<false/>
			<key>MenuChangeStatus</key>
			<true/>
		</dict>
		<dict>
			<key>isHuiDuVersion</key>
			<string>0</string>
			<key>MenuID</key>
			<integer>9</integer>
			<key>MenuName</key>
			<string>宽带预约</string>
			<key>MenuImage</key>
			<string>ico_kuand</string>
			<key>IsMenuChange</key>
			<false/>
			<key>MenuChangeStatus</key>
			<true/>
		</dict>
		<dict>
			<key>isHuiDuVersion</key>
			<string>0</string>
			<key>MenuID</key>
			<integer>10</integer>
			<key>MenuName</key>
			<string>商家联盟</string>
			<key>MenuImage</key>
			<string>ico_shop</string>
			<key>IsMenuChange</key>
			<false/>
			<key>MenuChangeStatus</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
